body{
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgb(0, 11, 32), rgb(131, 0, 28));
    overflow-x: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parent {
    display: grid;
    grid-template-columns: 0.8fr repeat(3, 1fr) 0.8fr;
    grid-template-rows: 0.2fr 0.3fr repeat(3, 1fr) repeat(2, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6;
        background: linear-gradient(rgba(189, 43, 140, 0.425), rgba(255, 0, 98, 0.596));
        padding: 1rem 1rem 1rem 1rem;
        height: 200px;
        margin: -1rem 10rem 0rem 10rem;
        border-radius: 0.5rem;
        text-align: center;
        box-shadow: 0px 1px 1px 1px black, 0px 1px 1px 1px rgba(255, 79, 79, 0.267) inset;
        border: 1px dashed rgb(117, 6, 89);
    }
        h1{
            color: rgb(49, 20, 61);
            font-family: 'Petit Formal Script', cursive;
            background: radial-gradient(ellipse at center, rgba(174, 174, 255, 0.534),rgba(12, 66, 66, 0.295));
            box-shadow: 1px 1px 1px 1px black, 0px 0px 50px 1px rgb(255, 104, 217) inset;
            padding: 1rem 1rem 1rem 1rem;
    }
        h2{
            font-size: 1rem;
            color: rgb(134, 255, 160);
            font-family: 'Petit Formal Script', cursive;
    }
    .div2 { grid-area: 2 / 2 / 3 / 5;
        text-align: center;
        width: 50%;
        height: 50%;
        align-self: center;
        justify-self: center;
        background: rgba(0, 0, 0, 0.336);
        border-radius: 0.5rem;
        border: 1px dashed rgba(128, 128, 128, 0.192)
    }
    .div3 { grid-area: 2 / 1 / 3 / 2;
        align-self: center;
        justify-self: center;
        background: linear-gradient(black, rgb(66, 35, 51));
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274), 1px 1px 0px 0px rgba(255, 255, 255, 0.055) inset;
        padding: 1rem;
        height: 50%;
        
        width: 100%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    #audio-device{
        color: rgb(255, 255, 255);
        margin-top: 0.5rem;
        background: linear-gradient(black, gray);
        box-shadow: 1px 1px 1px black, 1px 1px 1px rgba(255, 255, 255, 0.178) inset;
    }
    #settings-audio-main{
        background: linear-gradient(black, rgb(49, 49, 49));
        padding: 1rem;
        box-shadow: 1px 1px 1px 1px rgb(41, 18, 18), 1px 1px 1px 1px rgba(255, 255, 255, 0.452);
        margin-top: 0.5rem;
    }
        
    .div4 { grid-area: 2 / 5 / 3 / 6;
        align-self: center;
        justify-self: center;
        color: rgb(36, 31, 22);
        background: linear-gradient(rgb(105, 86, 60), rgb(175, 131, 70));
        padding: 1rem 1rem 1rem 1rem;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274), 0px 0px 0px 1px rgb(255, 157, 112) inset;
        justify-self: right;
        width: 100%;
        height: 50%;
        border: 1px solid rgb(133, 109, 64);
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
        #user-sesh-login{
            padding: 1rem;
            background: rgb(165, 129, 100);
        }
        #user-sesh-login:hover{
            background: rgb(184, 130, 85);
        }
        #live-audio-title{
            background: rgb(88, 19, 19);
            padding: 1rem;
        }

    .div5 { grid-area: 3 / 1 / 6 / 6;
        display:flex;
        justify-self:normal;
        align-self: start;
        height: 40%;
        background: radial-gradient(ellipse at top, rgb(29, 29, 29), rgb(172, 33, 91));
        padding: 1rem 1rem 1rem 1rem;
        margin-left: -1rem;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274), 0px 0px 1px 0px white inset;
    }

    .div6 { grid-area:  3 / 2 /  4 / 5;
        justify-content:center;
        align-self: center;
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        color: rgb(37, 6, 6);
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.082);
        text-align: center;
        background: linear-gradient(rgb(145, 31, 75), rgb(255, 119, 119));
        padding: 1rem 1rem 1rem 1rem;
        border: 1px solid rgb(255, 97, 123);
        height: 100%;
        box-shadow: 0px 30px 15px black, 0px 0px 15px 0px rgba(255, 255, 255, 0.432) inset;
        
    }

        .Emotion-shuffler{
                    justify-content:center;
        align-self: center;
        display:inline;
            border-top-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            background: radial-gradient(ellipse at bottom, rgba(255, 137, 137, 0.534), rgba(0, 0, 0, 0.281));
            box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.253), 1px 1px 1px 1px rgba(36, 0, 0, 0.644) inset;
            padding: 1rem 1rem 1rem 1rem;
        }
    .div7 { grid-area: 4 / 2 / 6 / 5;
        justify-content:center;
        align-self: center;
        display:inline;
        color: rgb(255, 251, 245);
        margin-top: 1rem;
        height: 50%;
        background: radial-gradient(ellipse at top, rgba(4, 16, 56, 0.514), rgb(0, 0, 0));
    }
        canvas{
            transform: scale(70%);
        }
        #video{
            transform: scale(70%);
        }

    .div8 { grid-area: 6 / 2 / 7 / 5;
        background: rgba(255, 42, 42, 0.63);
        width: 100%;
        border-radius: 0.5rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .div9 { grid-area: 7 / 2 / 8 / 5;
        background: rgb(107, 69, 69);
        height: 2rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .div10 { grid-area: 6 / 1 / 8 / 2;
        background: red;
    }
    .div11 { grid-area: 6 / 5 / 8 / 6;
        background: blue;
    }

    li{
        list-style-type: none;
        display: inline;
    }

    /* Global Elements */



    h4{
        background: rgba(0, 0, 0, 0.171);
        border: 1px dashed rgba(0, 0, 0, 0.233);
        box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.199), 0px 1px 1px rgba(0, 0, 0, 0.116) inset;
        padding: 1rem;
    }