body{
    color: rgb(255, 255, 255);
    background: linear-gradient( rgb(0, 11, 32), rgb(131, 0, 28));
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6;
        background: linear-gradient(rgba(189, 43, 140, 0.425), rgba(255, 0, 98, 0.596));
        padding: 1rem 1rem 1rem 1rem;
        height: min-content;
        text-align: center;
    }
        h1{
            width: ma;
            color: rgb(49, 20, 61);
            font-family: 'Petit Formal Script', cursive;
            background: radial-gradient(ellipse at center, rgba(174, 174, 255, 0.534),rgba(12, 66, 66, 0.295));
            box-shadow: 1px 1px 1px 1px black, 0px 0px 50px 1px rgb(255, 104, 217) inset;
            padding: 1rem 1rem 1rem 1rem;
    }
        h2{
            font-size: 1rem;
            color: rgb(134, 255, 160);
            font-family: 'Petit Formal Script', cursive;
    }
    .div2 { grid-area: 2 / 2 / 5 / 5;
        background: linear-gradient(rgb(145, 31, 75), rgb(255, 119, 119));
        margin-top: 1rem;
        height: 100%;
        padding: 1rem 1rem 1rem 1rem;
        
        
    }
    .div3 { grid-area: 2 / 2 / 3 / 5;
        background: rgb(255, 67, 161);
        border: 1px solid rgb(255, 116, 186);
        padding: 1rem 1rem 1rem 1rem;
        margin: 2rem 1rem 1rem 1rem;
        width: 80%;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274);
        justify-self: center;
    }
        .Emotion-shuffler{
            background: rgb(109, 31, 79);
            padding: 1rem 1rem 1rem 1rem;
        }
        
    .div4 { grid-area: 3 / 2 / 4 / 5;
        background: black;
        padding: 1rem 1rem 1rem 1rem;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274);
        width: 80%;
        justify-self: center;
    }
        #live-audio-title{
            background: rgb(88, 19, 19);
            padding: 1rem;
        }

    .div5 { grid-area: 4 / 2 / 5 / 5;
        background: linear-gradient(rgb(29, 29, 29), black);
        padding: 1rem 1rem 1rem 1rem;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.274), 0px 0px 1px 0px white inset;
        width: 40%;
        height: 40%;
        justify-self: left;
    }
    #audio-device{
        color: rgb(255, 255, 255);
        margin-top: 0.5rem;
        background: linear-gradient(black, gray);
        box-shadow: 1px 1px 1px black, 1px 1px 1px rgba(255, 255, 255, 0.178) inset;
    }
    #settings-audio-main{
        background: linear-gradient(black, rgb(49, 49, 49));
        padding: 1rem;
        box-shadow: 1px 1px 1px;
    }
    .div6 { grid-area: 4 / 4 / 5 / 5;
        text-align: center;
        background: radial-gradient(rgb(221, 84, 255), rgb(91, 101, 255));
        border: 1px rgb(79, 176, 255) solid;
        border-radius: 100%;
        box-shadow: 0px 10px 10px 0px rgba(239, 60, 255, 0.212), 0px 0px 10px 0px rgb(136, 255, 136) inset;
        
    }
    .div7 { grid-area: 5 / 2 / 6 / 5;
        color: rgb(34, 26, 16);
        margin-top: 1rem;
        border-top: 2px dashed rgb(150, 137, 63);
        background: burlywood;
    }
        #user-sesh-login{
            padding: 1rem;
            background: rgb(165, 129, 100);
        }
    .div8 { grid-area: 2 / 5 / 5 / 6;
        background: rgba(0, 0, 0, 0.075);
        width: 80%;
        justify-self: center;
        height: 200%;
        border-radius: 0.5rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .div9 { grid-area: 2 / 1 / 5 / 2;
        background: rgba(0, 0, 0, 0.075);
        width: 80%;
        justify-self: center;
        height: 200%;
        border-radius: 0.5rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    li{
        list-style-type: none;
    }